/build/package/mieru/amd64/debian/usr/bin/
/build/package/mieru/amd64/rpm/**
!/build/package/mieru/amd64/rpm/mieru.spec

/build/package/mieru/arm64/debian/usr/bin/
/build/package/mieru/arm64/rpm/**
!/build/package/mieru/arm64/rpm/mieru.spec

/build/package/mita/amd64/debian/usr/bin/
/build/package/mita/amd64/rpm/**
!/build/package/mita/amd64/rpm/mita.service
!/build/package/mita/amd64/rpm/mita.spec

/build/package/mita/arm64/debian/usr/bin/
/build/package/mita/arm64/rpm/**
!/build/package/mita/arm64/rpm/mita.service
!/build/package/mita/arm64/rpm/mita.spec

/release
/tools/build/**
!/tools/build/README.md

*.exe
*.dll
*.so
*.dylib
*.deb
*.rpm

.vscode/

/coverage.out
/coverage.html
