name: 'integration test'
on: [push, pull_request, workflow_dispatch]
jobs:
  run-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Run integration test
        run: make run-container-test
