name: CI
on: [push, pull_request, workflow_dispatch]
jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.2
      - name: Run go vet
        run: make vet
      - name: Build binaries
        run: make bin
      - name: Run integration test
        run: make run-container-test
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: mieru
          path: release/
          if-no-files-found: error
